@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #dfdfdf;
}
.signup-box{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    width: 440px;
    height: 480px;
    padding: 30px;
}
.signup-header{
    text-align: center;
    margin: 20px 0 40px 0;
}
.signup-header header{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}
.input-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    outline: none;
    transition: .3s;
}
::placeholder{
    font-weight: 500;
    color: #222;
}
.input-field:focus{
    width: 105%;
}

.input-register{
    position: relative;
}
.register-btn{
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-register label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.register-btn:hover{
    background: #000;
    transform: scale(1.05,1);
}

.back-btn {
    position: fixed;
    top: 100px;      /* Distance from the top */
    left: 100px;    /* Distance from the right */
    background-color: rgb(20, 20, 20);
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  
  .back-btn a {
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
  }
  
  .back-btn:hover {
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }
  
  .back-btn a:hover {
    color: #333;
  }
  

.flash-error {
    position: fixed;
    bottom: 10px;  /* Moves the message to the bottom */
    left: 50%;
    transform: translateX(-50%); /* Centers it horizontally */
    background-color: #222;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-in-out;
}

/* Optional: Add a fade-in effect */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

